* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #44444E;
    color: #ffffff;
    min-height: 100vh;
}

header {
    background-color: #7300CB;
    padding: 10px 20px;
    width: 50%; 
    justify-content: space-between;
    max-width: 1200px;
    margin-bottom: 20px;
    border-radius: 24px;
    display: grid;
    gap: 50px;
    align-items: center;
    margin: 0 auto;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 80%; 
    border-radius: 24px;
    margin: 0 auto;
    margin-bottom: 20px;
}
/* ------------------ FOOTER ------------------ */

footer {
    background-color: #37353E;
    margin-top: 40px;
    padding: 40px 0;
    
}

.social-links {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-item i {
    font-size: 40px;
    color: #ffffff;
}

.social-item span {
    font-size: 14px;
    color: #cccccc;
    margin-top: 8px;
}
